---
import { getCollection, render } from 'astro:content';
import Base from '../../layouts/Base.astro';
import Footer from '../../components/Footer.astro';
import NavigationBar from '../../components/NavigationBar.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(p => ({
    params: { slug: p.data.slug },
    props: { post: p },
  }))
}

const { post } = Astro.props;
const { title, slug, description, publishDate } = post.data;
const { Content } = await render(post)

const current = "updates";
---

<Base title=`${ title } |` blog="true">
  <article>
    <div class="page-collection">
      <nav>
        <NavigationBar current={current} blog="true"/>
      </nav>

      <main>
        <header>
          <div class="blog-header">
            <h1>{title}</h1>
            <p>{publishDate}</p>
            <hr />
          </div>
        </header>

        <div class="content">
          <div class="blog-content">
            <Content />
          </div>
        </div>
      </main>
    </div>
    <footer>
      <Footer blog="true"/>
    </footer>
  </article>
</Base>

<style>
  .blog-header h1 {
    font-size: 400%;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
  }

  .blog-header p {
    font-size: 70%;
    font-style: italic;
  }

  .blog-header hr {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .blog-header {
    max-width: 65em;
  }

  .content {
    max-width: 33em;
  }
</style>