---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';

const title = "About |";
const current = "about";
---

<Base title={title}>
	<article>
		<div class="page-collection">
			<nav>
				<NavigationBar current={current} />
			</nav>

			<main>
				<header>
					<h1>About</h1>
				</header>

				<div class="text-img-main">
					<div class="item"> <!-- img -> text -->

					</div>

					<div class="item inverted"> <!-- text -> img -->

					</div>
				</div>
			</main>
		</div>
		<footer>
			<Footer />
		</footer>
	</article>
</Base>