---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';

import teamPicture from '../assets/teampicture.jpg';

const title = "About |";
const current = "about";
---

<Base title={title}>
	<article>
		<div class="page-collection">
			<nav>
				<NavigationBar current={current} />
			</nav>

			<main>
				<header>
					<h1>About</h1>
				</header>

				<div class="text-img-main">
					<div class="item column">
						<div class="image">
							<img src={teamPicture.src} alt="team picture"/>
						</div>

						<div class="text">
							<p>
								The Ward Melville Iron Patriots are a robotics team based in Ward Melville Senior High School in East Setauket, New York. Every year, the team participates in the FIRST Robotics Competition, in which teams across the world are given just a couple of weeks to build fully functioning 100+ lb robots to compete in an annual game. 
								<br/>
								<br/>
								In recent years, the WM Iron Patriots have experienced exponential growth, becoming semifinalists at the Long Island Regional for the past three years and ranking 8th at their newly added regional, the Hudson Valley regional for the past two years. The team has received numerous awards spanning across various areas of engineering and team-building. From the Innovation In Control Award recognizing cutting-edge automation and programming, to the Quality Award showcasing the team’s cutting edge engineering, to many more. 
								<br/>
								<br/>
								Beyond competition, the WM Iron Patriots regularly participate in and host many community outreach events throughout the year in order to inspire the next generation of engineers, from monthly library events to robot demos across the school district, the WM Iron Patriots hope to spark curiosity and innovation in students across the community.
								<br/>
								<br/>
								Now approaching their 10th year, the WM Iron Patriots are ready to take on the Rebuilt season with a drive for even greater success.
							</p>
						</div>
					</div>
				</div>
			</main>
		</div>
		<footer>
			<Footer />
		</footer>
	</article>
</Base>
