---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';

const title = "Contact |";
const current = "contact";
---

<Base title={title}>
	<article>
		<div class="page-collection">
			<nav>
				<NavigationBar current={current} />
			</nav>

			<main>
				<header>
					<h1>Contact</h1>
				</header>
			</main>
		</div>
		<footer>
			<Footer />
		</footer>
	</article>
</Base>