---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';

const title = "Outreach |";
const current = "outreach";
---

<Base title={title}>
	<article>
		<div class="page-collection">
			<nav>
				<NavigationBar current={current} />
			</nav>

			<main>
				<header>
					<h1>Outreach</h1>
				</header>

				<div class="text-img-main">
					<div class="item"> 
						<div class="text">
							<h2>Library Events</h2>
							<h5>Monthly Events At Our Local Library</h5>
							<p>
								The Iron Patriots hold monthly events at Emma S. Clark Memorial Library where we instruct engineering challenges for kids K-6 to participate in. With a limited amount of craft supplies, these elementary kids have been tasked with building with various contraptions across various events: from bridges to boats and towers to mazes, the kids are encouraged to push their engineering and problem solving skills to the maximum and construct the best possible creations, sparking curiosity and inspiring the next generation of engineers.
								<br/>
								<br/>
								Library Events 2025: June 21st, July 26th, August 25th, October 4th
							</p>
						</div>

						<div class="image">
							<img src="./src/assets/library.jpg" alt="library"/>
						</div>
					</div>

					<div class="item inverted"> 
						<div class="text">
							<h2>Sponsor Night</h2>
							<h5>Robot Display And Appreciation Dinner For Benefactors</h5>
							<p>
								On August 21st 2024, the Ward Melville Iron Patriots hosted their second annual Sponsor Night event, bringing together past and prospective sponsors to celebrate engineering and the team. Attendees had the opportunity to view the team’s recent achievements and witness the dedication that fuels our success. With the support of parents, district administration, and generous sponsors, the event strengthened connections that enabled us to continue to build our team. Special thanks to Exquisite Catering and Setauket Pastaria for providing food.
								<br/>
								<br/>
								Sponsor Night 2025: September 4th
							</p>
						</div>

						<div class="image">
							<img src="./src/assets/sponsornight.jpg" alt="sponsor night"/>
						</div>
					</div>

					<div class="item"> 
						<div class="text">
							<h2>Showcase Night</h2>
							<h5>Robot Reveal Event And Showcase For Community</h5>
							<p>
								On February 25th 2025, the Ward Melville Iron Patriots hosted their inaugural Robot Showcase event, unveiling Cascade, our team’s latest creation designed for the 2025 FRC game, Reefscape. This event brought together sponsors, parents, and community family members offering a firsthand look at the engineering and innovation behind our team’s robot. Special thanks to ProSysCon for sponsoring the event.
								<br/>
								<br/>
								Showcase Night 2026: TBD
							</p>
						</div>

						<div class="image">
							<img src="./src/assets/showcase.jpg" alt="showcase"/>
						</div>
					</div>

					<div class="item inverted"> 
						<div class="text">
							<h2>STEM Night</h2>
							<h5>Participated In TVCSD’s Annual STEM Night</h5>
							<p>
								On January 9th 2025, The Ward Melville Iron Patriots joined the annual Three Village STEM Night, giving visitors a hands-on experience with Decibel — our 2024 Crescendo competition robot. Guests were given the opportunity to test their driving skills and engage in an interactive game, maneuvering notes and launching them onto cones. Thank you to the Three Village STEM Enrichment Foundation for hosting!
								<br/>
								<br/>
								STEM Night 2026: TBD
							</p>
						</div>

						<div class="image">
							<img src="./src/assets/stemnight.jpg" alt="stem night"/>
						</div>
					</div>

					<div class="item"> 
						<div class="text">
							<h2>Summer Camp</h2>
							<h5>Summer Engineering Camp For Kids Grades 4-9</h5>
							<p>
								From August 4 to August 8 2025, the Ward Melville Iron Patriots will be holding their first summer camp in collaboration with the Three Village STEM Enrichment Foundation.
								<br/>
								<br/>
								Summer Camp 2025: August 4th-8th
							</p>
						</div>

						<div class="image">
							<img src="./src/assets/summercamp.png" alt="summer camp"/>
						</div>
					</div>
				</div>
			</main>
		</div>
		<footer>
			<Footer />
		</footer>
	</article>
</Base>