---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';

const title = "Sponsors |";
const current = "sponsors";
---

<Base title={title}>
	<article>
		<div class="page-collection">
			<nav>
				<NavigationBar current={current} />
			</nav>

			<main>
				<header>
					<h1>Sponsors</h1>
				</header>

				<div class="main">
					<div class="item">
						<h2>Platinum Sponsors</h2>
						<section>
							<img src="src/assets/tvstem.png" alt="tvstem"/>
							<img src="src/assets/tvcsd.png" alt="tvcsd"/>
						</section>
					</div>
					<div class="item">
						<h2>Gold Sponsors</h2>
						<section>
							<img src="src/assets/northatlantic.png" alt="north atlantic"/>
							<img src="src/assets/sigma.png" alt="sigma"/>
							<img src="src/assets/teconnectivity.png" alt="te connectivity"/>
							<img src="src/assets/gse.png" alt="gse"/>
							<img src="src/assets/dove.png" alt="dove"/>
						</section>
					</div>
					<div class="item">
						<h2>Silver Sponsors</h2>
						<section>
							<img src="src/assets/catering.png" alt="catering"/>
							<img src="src/assets/pastaria.png" alt="pastaria"/>
						</section>
					</div>
					<div class="item">
						<h2>Bronze Sponsors</h2>
						<section>
							<img src="src/assets/nyctech.png" alt="nyc tech"/>
							<img src="src/assets/bakery.png" alt="bakery"/>
							<img src="src/assets/psc.png" alt="psc"/>
						</section>
					</div>
				</div>
			</main>
		</div>
		<footer>
			<Footer />
		</footer>
	</article>
</Base>

<style>
	img {
		width: 30%;
		height: 30%;
	}

	h2 {
		font-size: 200%;
	}
</style>