---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';

const title = "Sponsors |";
const current = "sponsors";
---

<Base title={title}>
	<article>
		<div class="page-collection">
			<nav>
				<NavigationBar current={current} />
			</nav>

			<main>
				<header>
					<h1>Sponsors</h1>
				</header>

				<div class="main">
					<div>
						<h2 class="title">Sponsor Tiers</h2>
					</div>

					<div>
						<h2 class="title">2025 - 2026 Rebuilt Sponsors</h2>
						<div class="item">
							<h2>Platinum Sponsors</h2>
							<section>
								
							</section>
						</div>
						<div class="item">
							<h2>Gold Sponsors</h2>
							<section>
								
							</section>
						</div>
						<div class="item">
							<h2>Silver Sponsors</h2>
							<section>
								
							</section>
						</div>
						<div class="item">
							<h2>Bronze Sponsors</h2>
							<section>
								
							</section>
						</div>
					</div>
					
					<div>
						<h2 class="title">2024 - 2025 Reefscape Sponsors</h2>
						<div class="item">
							<h2>Platinum Sponsors</h2>
							<section>
								<img src="../assets/tvstem.png" alt="tvstem"/>
								<img src="../assets/tvcsd.png" alt="tvcsd"/>
							</section>
						</div>
						<div class="item">
							<h2>Gold Sponsors</h2>
							<section>
								<img src="../assets/northatlantic.png" alt="north atlantic"/>
								<img src="../assets/sigma.png" alt="sigma"/>
								<img src="../assets/teconnectivity.png" alt="te connectivity"/>
								<img src="../assets/gse.png" alt="gse"/>
								<img src="../assets/dove.png" alt="dove"/>
							</section>
						</div>
						<div class="item">
							<h2>Silver Sponsors</h2>
							<section>
								<img src="../assets/catering.png" alt="catering"/>
								<img src="../assets/pastaria.png" alt="pastaria"/>
							</section>
						</div>
						<div class="item">
							<h2>Bronze Sponsors</h2>
							<section>
								<img src="../assets/nyctech.png" alt="nyc tech"/>
								<img src="../assets/bakery.png" alt="bakery"/>
								<img src="../assets/psc.png" alt="psc"/>
							</section>
						</div>
					</div>
				</div>
			</main>
		</div>
		<footer>
			<Footer />
		</footer>
	</article>
</Base>

<style>
	img {
		width: 30%;
		height: 30%;
	}

	h2 {
		font-size: 200%;
	}

	.title {
		font-size: 270%;
	}

	.main {
		gap: 5em;
		display: flex;
		flex-direction: column;
	}

	.item {
		margin-bottom: 3em;
	}

	.item h2 {
		margin-bottom: 0;
	}
</style>