---
import '../styles/global.css';
---

<a href="https://www.instagram.com/frc6423/"><img width="40" height="40" src="src/assets/instagram.png" alt="Instagram"/></a>
<a href="https://www.youtube.com/@IronPatriotsFRC6423"><img width="40" height="40" src="src/assets/youtube.png" alt="YouTube"/></a>
<a href="https://github.com/wmironpatriots"><img width="40" height="40" src="src/assets/github.png" alt="GitHub"/></a>
<a href="https://www.chiefdelphi.com/t/6423-iron-patriots-2040-reefscape-build-thread/477430"><img width="40" height="40" src="src/assets/chiefdelphi.png" alt="ChiefDelphi"/></a>

<style>
  a {
		transition: 0.15s;
	}

	a:hover {
		cursor: pointer;
		transform: scale(1.2);
	}
</style>