---
import '../styles/global.css';

import instaImg from '../assets/instagram.png';
import youtubeImg from '../assets/youtube.png';
import githubImg from '../assets/github.png';
import chiefDelphiImg from '../assets/chiefdelphi.png';

const { blog } = Astro.props;
---
<div class="footer">
	<span>
		&copy; 2025-2026 Ward Melville Iron Patriots
	</span>
	<div>
		<a href="https://www.instagram.com/frc6423/"><img width="40" height="40" src={instaImg.src} alt="Instagram"/></a>
		<a href="https://www.youtube.com/@IronPatriotsFRC6423"><img width="40" height="40" src={youtubeImg.src} alt="YouTube"/></a>
		<a href="https://github.com/wmironpatriots"><img width="40" height="40" src={githubImg.src} alt="GitHub"/></a>
		<a href="https://www.chiefdelphi.com/t/6423-iron-patriots-2040-reefscape-build-thread/477430"><img width="40" height="40" src={chiefDelphiImg.src} alt="ChiefDelphi"/></a>
	</div>
</div>

<style>
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.7em;
	}

	.footer div {
		width: 100%;
		display: flex;
		gap: 0.3em;
	}

  img {
		transition: 0.15s;
	}

	img:hover {
		cursor: pointer;
		transform: scale(1.2);
	}
</style>
